body {
	font-size: 32px;
}

.logo {
	color: blue;
}

header .logo {
	color: green;
}

#cabecalho .logo {
	color: red;
}

header#cabecalho h1.logo {
	color: yellow;
}

header#cabecalho .logo {
	color: purple;	
}

