body {
	font-size: 32px;
}

h1 {
	margin: 0;
}

article {
	background-color: #0f0; /** verde **/
}

footer {
	background-color: yellow;
	text-align: center;
}

.coluna1, .coluna2 {
	background-color: #ccc; /** cinza **/ 
}

/**1.
.coluna1 {
	float: left;
	width: 50%;
}

.coluna2 {
	float: right;
	width: 50%;
}
*/
/**2.
.coluna1 {
	float: left;
	width: 48%;
}

.coluna2 {
	float: right;
	width: 48%;
}
*/
.coluna1 {
	float: left;
	width: 48%;
}

.coluna2 {
	float: right;
	width: 48%;
}

.clearfix {
	clear: both;
}